  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

  * {
      margin: 0;
      padding: 0;
      font-family: 'Ubuntu', sans-serif;
      text-decoration: none;
      font-style: normal;
      box-sizing: border-box;
      overflow: hidden;
  }

  body {
      background: #E5E5E5;
      width: 100vw;
      min-height: 100vh;
  }

  .container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      gap: 20px;
  }

  .l-col,
  .c-col,
  .r-col {
      display: flex;
      justify-content: center;
      border: 0;
      margin: 20px;
      padding: 20px;
  }


  .l-col {
      flex-grow: 1;
  }

  .logo {
      width: 120px;
      height: 48px;
  }

  .c-col {
      flex-grow: 8;
      flex-direction: column;
  }

  .msg-entrada {
      margin: 80px 10px 200px 10px;
      resize: none;
      height: 300px;
      text-align: justify;
      text-transform: lowercase;
      font-weight: 400;
      font-size: 32px;
      line-height: 150%;
      color: #0A3871;
      border: 0;
      border-radius: 13px;
  }

  .info {
      display: flex;
      margin-left: 10%;
      gap: 10px;
  }

  .buttons {
      display: flex;
      justify-content: space-around;
  }

  button {
      margin: 5vh 0;
      width: 328px;
      height: 67px;
      border-radius: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      background: #D8DFE8;
      border: 1px solid #E5E5E5;
  }

  .btn-encriptar {
      background: #0A3871;
      color: #fff;
  }

  .btn-desencriptar {
      border: 1px solid #0A3871;
      color: #0A3871;
  }

  .r-col {
      flex-grow: 2;
      justify-content: center;
      align-self: stretch;
  }

  .box-result {
      min-width: 340px;
      min-height: 80vh;
      background: #FFFFFF;
      box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
      border-radius: 32px;
      display: flex;
      flex-flow: column nowrap;
  }

  .msg-salida {
      display: none;
      resize: none;
      width: 300px;
      height: 400px;
      padding: 25px;
      margin: 30px;
      border-radius: 24px;
      text-align: justify;
      text-transform: lowercase;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: #6a84a4;
      border: none;
      overflow-y: auto;
      /*background: #343A40;*/
  }

  .btn-copiar {
    display: none;
    margin: 0 30px;
    width: 300px;
  }

  .muñeco {
      position: absolute;
      top: 20%;
      width: 336px;
  }

  .titulo-encriptado {
      position: absolute;
      top: 62%;
      width: 336px;
      height: 58px;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      text-align: center;
      color: #343A40;
  }

  .texto-encriptado {
      position: absolute;
      top: 70%;
      width: 336px;
      height: 48px;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #495057;
  }

  footer {
      position: absolute;
      left: 75vw;
      top: 97vh;
      font-size: .9rem;
      color: #495057;
      text-align: right;
  }