  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

  * {
      margin: 0;
      padding: 0;
      font-family: 'Ubuntu', sans-serif;
      text-decoration: none;
      font-style: normal;
  }

  body {
      background: #E5E5E5;
  }

  .logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 40px;

      position: absolute;
      width: 120px;
      height: 48px;
      left: 40px;
      top: 40px;
  }

  textarea {
      resize: none;
      position: absolute;
      width: 680px;
      height: 288px;
      left: 240px;
      top: 168px;
      font-weight: 400;
      font-size: 32px;
      line-height: 150%;
      color: #0A3871;
      border: 0;
  }

  textarea::placeholder {
      font-size: 32px;
      line-height: 150%;
      color: #0A3871;
  }

  .box-result {
      position: absolute;
      width: 400px;
      height: 944px;
      left: 1000px;
      top: 40px;

      /* White */
      background: #FFFFFF;

      /* shadow */
      box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
      border-radius: 32px;
  }

  .muñeco {
      position: absolute;
      width: 336px;
      height: 304px;
      left: 1032px;
      top: 283px;
  }

  .frame-5 {
      /* Frame 5 */

      /* Auto layout */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;

      position: absolute;
      width: 336px;
      height: 122px;
      left: 1032px;
      top: 619px;
  }

  .titulo-texto-encriptado {
      width: 336px;
      height: 58px;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      text-align: center;
      color: #343A40;
  }


  .texto-encriptado {
      width: 336px;
      height: 48px;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #495057;
  }

  .buttons {
      /* Frame 3 */

      /* Auto layout */
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 24px;

      position: absolute;
      width: 680px;
      height: 67px;
      left: 240px;
      top: 885px;
  }

  .btn-encriptar {
      width: 328px;
      height: 67px;
      background: #0A3871;
      border-radius: 24px;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
  }

  .frame-3 {
      /* Frame 3 */

      /* Auto layout */
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 24px;

      position: absolute;
      width: 680px;
      height: 67px;
      left: 240px;
      top: 885px;
  }

  button {
      width: 328px;
      height: 67px;
      border-radius: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
  }

  .btn-1 {
      background: #0A3871;
      color: #fff;
  }


  .btn-2 {
      background: #D8DFE8;
      border: 1px solid #0A3871;
      color: #0A3871;
  }

  .frame-1 {
      /* Frame 1 */

      /* Auto layout */
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 8px;

      position: absolute;
      width: 229px;
      height: 18px;
      left: 240px;
      top: 851px;
  }

  .ico.inf {
      width: 16px;
      height: 16px;
  }

  .inf {
      width: 205px;
      height: 18px;
      font-size: 12px;
      line-height: 150%;
      color: #495057;
      opacity: 0.8;
  }